/* Google Fonts - Poppins (400, 600, 700, 900) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

/* Variables 
================================*/

:root {     

  /* Colors */
  --primary-color: rgb(84, 97, 217);
  --primary-color-hover: rgb(70, 81, 180);
  --secondary-color: rgb(245, 46, 95);
  --secondary-color-hover: rgb(245, 46, 95);
  --background-color: rgb(237, 238, 242);
  --gray-color: rgb(217, 217, 217);
  --border-color: #eeeeee;
  --white-color: rgb(255, 255, 255);

  --dark-background-color: rgb(20, 21, 45);
  --dark-primary-color: rgb(31, 31, 65);
  --dark-font-color: rgb(255, 255, 255);
  
  /* Font */
  --font: 'Poppins', sans-serif;
  --font-color: hsl(0, 0%, 27%);

  --fs-s-1: 10px;
  --fs-s-2: 14px;
  --fs-s-3: 16px;

  --fs-m-1: 20px;
  --fs-m-2: 24px;
  --fs-m-3: 28px;

  --fs-l-1: 32px;
  --fs-l-2: 40px;
  --fs-l-3: 48px;

  /* Transition */
  --transition: 0.3s ease;
  --initial-border: 1px solid transparent;
  --radius: 4px;   

  /* Shadow */
  --shadow-down: 0px 4px 5px 0px var(--gray-color);
  --shadow: 0px 0px 5px 0px var(--gray-color);

  --dark-shadow-down: 0px 4px 5px 0px var(--dark-primary-color);
  --dark-shadow: 0px 0px 5px 0px var(--dark-primary-color);
}

/* Normalization 
======================================*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body, html {
  /* background-color: var(--background-color); */
  font-size: var(--fs-s-1);
}

button, input {
  outline: none;
  border: var(--initial-border);
  transition: var(--transition);
  font-family: var(--font);
}

button { cursor: pointer; }

/* width */
*::-webkit-scrollbar {
  width: 2px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-hover);
}